.repoCardWrapper {
  margin-block: 5rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: #222629 !important;
  border-color: #474B4F !important;
  color: #dfdfdf !important;
}

.footerWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.button {
  background-color: #86C232 !important;
  color: #FFF !important;

  &:hover {
    background-color: #61892F !important;
    color: #86C232 !important;
  }
}

@media only screen and (max-width: 768px) {
  .repoCardWrapper {
    display: block;
  }

  .cardContainer {
    grid-template-columns: unset;
  }
}